{{#each this}}
<div class="modal-ingredients modal">
    <button type="button" class="modal__close-btn" data-modal-ingredients-close>
        <svg class="modal__close-btn-icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-clarity_close-line"></use>
        </svg>
    </button>
    <h2 class="modal-ingredients__title modal__title">{{strIngredient}}</h2>
    <h3 class="modal-ingredients__subtitle">{{strType}}</h3>
    <div class="hline"></div>

    <p class="modal-ingredients__text">{{strDescription}}</p>
    <ul class="ingredients-list">
        <li class="ingredients-list__item">Type: Bitters</li>
        <li class="ingredients-list__item">Country of origin: Italy</li>
        <li class="ingredients-list__item">Alcohol by volume: {{strABV}}</li>
        <li class="ingredients-list__item">Flavour: Bitter, spicy and sweet</li>
    </ul>
    <button type="button" class="modal__bottom-btn modal-ingredients__bottom-btn">Add to favorite</button>
</div>
{{/each}}