{{#each this}}
<div class="modal-ingredients modal">
    <button type="button" class="modal__close-btn" data-modal-ingredients-close>
        <svg class="modal__close-btn-icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-clarity_close-line"></use>
        </svg>
    </button>
    <h2 class="modal-ingredients__title modal__title">{{strIngredient}}</h2>
    <h3 class="modal-ingredients__subtitle">{{strType}}</h3>
    <div class="hline"></div>

    <p class="modal-ingredients__text"> <span class="modal-ingredients__name">Campari</span>
        is an Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on
        the
        country in which it is sold), obtained from the infusion of herbs and fruit (including chinotto and
        cascarilla) in
        alcohol and water. It is a bitters, characterised by its dark red colour.</p>



    <ul class="ingredients-list">
        <li class="ingredients-list__item">Type: Bitters</li>
        <li class="ingredients-list__item">Country of origin: Italy</li>
        <li class="ingredients-list__item">Alcohol by volume: {{strABV}}</li>
        <li class="ingredients-list__item">Flavour: Bitter, spicy and sweet</li>
    </ul>
    <button type="button" class="modal__bottom-btn modal-ingredients__bottom-btn">Add to favorite</button>
</div>
{{/each}}