:root {
    --base-font: 'Roboto', sans-serif;
    --basic-font-size: 14px;
    --white-color: #FCFCFC;
    --accent-grapefruit: #FD5103;
    --accent-auxiliary-orange: #FE7031;
    --accent-gray: #5F6775;
    --text-color: #202025;
}

.dark-mode {
    --white-color: #202025;
    --text-color: #FCFCFC;
}

