<!-- <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
        <div>
            <a href="./index.html" class="mobile-menu__logo">
                <img src="./images/logo.svg" alt="cocktails" />
            </a>
        </div>

        <div class="mobile-menu__toggleWrapper">
            <p class="mobile-menu-Light">Light</p>
            <input type="checkbox" class="dn" id="dn" />
            <label for="dn" class="mobile-menu__toggle">
                <span class="mobile-menu-toggle__handler">
            </label>
            <p class="mobile-menu-Dark">Dark</p>
        </div>

        <div class="mobile-menu__search-container">
            <form class="mobile-menu__search-form" id="search-form">
                <button type="submit" class="mobile-menu__search-button">
                    <span class="material-icons">
                        <svg class="mobile-menu__search-magni-glass" width="24" height="24">
                            <use xlink:href="./images/sprite.svg#icon-search"></use>
                        </svg>
                    </span>
                </button>
                <input class="mobile-menu__search-input" type="text" name="searchQuery" autocomplete="off" placeholder=" Search" />
            </form>
        </div>

        <button type="button" class="mobile-menu__close-btn" data-menu-close>
            <svg class="mobile-menu__close-icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-clarity_close-line"></use>
            </svg>
        </button>
        
        <ul class="mobile-menu__list list">
            <li>
                <a href="./index.html" class="mobile-menu__link link">Home</a>
            </li>
            <li>
                <select class="mobile-menu__option">
                    <option value="1">Favourite</option>
                    <option value="2">Favourite cocktails</option>
                    <option value="3">Favourite ingredients</option>
                </select>
            </li>
        </ul>
    </div>
</div> -->

<div class="menu" data-menu>
    <div class="container menu__container">
        <button type="button" class="menu__button-close" data-menu-close>
            <svg class="menu__button-close-svg">
                <use class="menu__button-close-icon" href="./images/sprite.svg#icon-clarity_close-line"></use>
            </svg>
        </button>
        <!-- toggle -->
        <div class="menu__toggleWrapper">
            <p class="Light">Light</p>
            <input type="checkbox" class="dn" id="dn" />
            <label for="dn" class="menu__toggle">
                <span class="menu__toggle--handler"></span>
            </label>
            <p class="Dark">Dark</p>
        </div>
        <!-- search -->
        <div class="menu__search-container">
            <form class="menu__search-form" id="search-form">
                <button type="submit" class="menu__search-button" id="search-button">
                    <span class="material-icons">
                        <svg class="menu__search-magni-glass" width="24" height="24">
                            <use xlink:href="./images/sprite.svg#icon-search"></use>
                        </svg>
                    </span>
                </button>
                <input class="menu__search-input" id="search-input" type="text" name="searchQuery" autocomplete="off" placeholder=" Search" />
            </form>
        </div>
        <!-- nav -->
        <nav class="menu__nav">
            <ul class="menu__list list">
                <li>
                    <a href="./index.html" class="menu__link link">Home</a>
                </li>
                <li>
                    <div class="menu__dropdown">
                        <a href="#" data-toggle="dropdown">Favorite
                            <svg class="menu__icon-arrow" width="24" height="24">
                                <use class="menu__icon-arrow-swg" href="./images/sprite.svg#icon-arrow-down"></use>
                            </svg>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/src/favorites.html">Favorite cocktails</a></li>
                            <li><a href="/src/favorites.html">Favorite ingredients</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>