<div class="hero">
  <div class="wrap">

<div class="wrap-2">
    <h2 class="slogan">A party without cocktails is not like a party</h2>

    <ul class="alphabet">
        <li>
            <button type="button"> A </button>
        </li>
        <li>
            <button type="button"> B </button>
        </li>
        <li>
            <button type="button"> C </button>
        </li>
        <li>
            <button type="button"> D </button>
        </li>
        <li>
            <button type="button"> E </button>
        </li>
        <li>
            <button type="button"> F </button>
        </li>
        <li>
            <button type="button"> G </button>
        </li>
        <li>
            <button type="button"> H </button>
        </li>

    </ul>

</div>






    <picture>
      <img
        class="image_hero"
        src="./images/delicious-sangria-cocktail-held-in-hand 1.png"
        alt="Delicious sangria cocktail held in hand"
      />
    </picture>
  </div>

  <h3 class="searchText">Search your favorite cocktail by ABC</h3>
  <div class="dropdown">
    <input type="text" class="textBox" placeholder="A" readonly />
    <ul class="option">
      <li>A</li>
      <li>B</li>
      <li>C</li>
    </ul>
  </div>
</div>
