<div class="hero">
  <div class="wrap">
    <div class="wrap-2">
      <h2 class="slogan">A party without cocktails is not like a party</h2>

      <ul class="alphabet">
        <li>
          <button type="radio" class="alphabet_button">A</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">B</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">C</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">D</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">E</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">F</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">G</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">H</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">I</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">J</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">K</button>
        </li>

        <li>
          <button type="radio"class="alphabet_button">L</button>
        </li>

        <li>
          <button type="radio"class="alphabet_button">M</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">N</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">O</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">P</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">Q</button>
        </li>

        <li>
          <button type="radio"class="alphabet_button">R</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">S</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">T</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">U</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">V</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">W</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">X</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">Y</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">Z</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">1</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">2</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">3</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">4</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">5</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">6</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">7</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">8</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">9</button>
        </li>
        <li>
          <button type="radio"class="alphabet_button">0</button>
        </li>
      </ul>
    </div>

    <picture>
      <img
        class="image_hero"
        src="./images/delicious-sangria-cocktail-held-in-hand 1.png"
        alt="Delicious sangria cocktail held in hand"
      />
    </picture>
  </div>

  <h3 class="searchText">Search your favorite cocktail by ABC</h3>

  <div class="dropdown">
    <input type="text" class="textBox" placeholder="A" readonly />
    <ul class="option">
      <li>A</li>
      <li>B</li>
      <li>C</li>
    </ul>
  </div>
</div>
