<!-- Сторінка Коктейлі/Інгредієнти	
На сторінці Коктейлі повинні бути картки з коктейлями зі списку обраних, реалізовані так само як на головній сторінці	
На сторінці Інгредієнти повинен бути перелік інгредієнтів зі списку обраних.	
"Картка інгредієнта повинна містити кнопки:
  - LearnMore - відкриває модалку з описом інгредієнту
  - AddTo/Remove - додає/видяляє інгредієнт зі списку інгредієнтів в обраних"	
"Картка інгредієнта:
Назва
Алкогольний - Так/Ні"	 -->

<section class="coсtails section" id="coctails">
    <div class="coсtails__container container">
        <h2 class="coctails__title">Coctails</h2>
        
        <ul class="coctails__list">
          
        </ul>
    </div>
</section>