<section class="coсtails section" id="coctails">
    <div class="coсtails__container container">
        <h2 class="coctails__title">Coctails</h2>
        
        <ul class="coctails__list list">
        <li class="coctails__item">
            <img class="coctails__item-image" src="./images/delicious-sangria-cocktail-held-in-hand 1.png" alt="{{strDrink}}">
            <h3 class="coctails__item-title">
                strDrink
            </h3>
            <div class="coctails__item-button-wrapper">
                <button class="coctails__item-button" type="button" data-modal-win-open>Learn more</button>
                <button class="coctails__item-button" type="button">Add to
                    <svg class="icon icon-heart-stroked" width="21px" height="19px">
                        <use xlink:href="./images/sprite.svg#icon-heart-stroked"></use>
                    </svg>
                </button>
            </div>
        </li>
        
        </ul>
    </div>
</section>