.page-header {
  background-color: var(--white-color);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  &__container {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
}

.page-navigation {
  display: flex;
  margin-top: 20px;
}

.search-form {
  display: flex;
}

.search-button {
  border: 1px solid #fd5103;
  border-radius: 4px 0 0 4px;
  border-right: none;
  background-color: transparent;
  padding: 0;
}

.search-input {
  width: 248px;
  border: 1px solid #fd5103;
  border-radius: 0 4px 4px 0;
  outline: none;
}

.search-magni-glass {
  display: block;
  width: 40px;
  height: 40px;
  padding: 6px;
}

.dn {
  display: none;
}

.Light {
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #fd5103;
}

.Dark {
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #5f6775;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .toggleWrapper {
    display: none;
  }

  .search-input {
    display: none;
  }

  .search-button {
    display: none;
  }

  .page-header-btn {
    display: none;
  }

  .mobile-menu__logo {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    list-style-type: none;
    top: 50px;
    right: 20px;
    max-width: 320px;
    height: 568px;
    background-color: #ffffff;

    z-index: 100;
    overflow: auto;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &__close-btn {
      position: absolute;
      top: 4px;
      right: 20px;
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
      margin-top: 22px;
    }

    &__container {
      // max-width: 320px;
      // height: 568px;
      margin: 0;
      padding: 20px;
    }
  }

  .mobile-menu__toggleWrapper {
    display: flex;
    align-items: center;
    gap: 55px;
    position: absolute;
    top: 8%;
    left: 25%;
    transform: translate3d(-50%, -50%, 0);

    input {
      position: absolute;
      left: -99em;
    }
  }

  .mobile-menu__toggle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 40px;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    height: 16px;
    background-color: FFFFFF;
    z-index: 2;
    box-shadow: 4px 7px 10px rgba(105, 105, 105, 0.15);
    border: 1px solid #fd5103;
    border-radius: 20px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .mobile-menu-toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
    background-color: #fd5103;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
  }

  input:checked {
    + .mobile-menu__toggle {
      &:after {
        color: #ffffff;
      }

      .mobile-menu-toggle__handler {
        transform: translate3d(10px, 0, 0) rotate(0);
      }
    }
  }

  @keyframes blink {
    85% {
      transform: rotateX(0deg);
    }
    90% {
      transform: rotateX(90deg);
    }
  }

  .mobile-menu-Dark {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }

  .mobile-menu-Light {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: #fd5103;
  }

  .mobile-menu__search-container {
    margin-top: 91px;
    margin-bottom: 40px;
  }

  .mobile-menu__search-form {
    display: flex;
  }

  .mobile-menu__search-button {
    border: 1px solid #fd5103;
    border-radius: 4px 0 0 4px;
    border-right: none;
    background-color: transparent;
    padding: 0;
  }

  .mobile-menu__search-input {
    width: 248px;
    border: 1px solid #fd5103;
    border-radius: 0 4px 4px 0;
    outline: none;
  }

  .mobile-menu__search-magni-glass {
    display: block;
    width: 40px;
    height: 40px;
    padding: 6px;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 40px;
    margin-left: 1px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0.86;

    letter-spacing: 0.02em;

    color: #000000;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 22px;
    line-height: 0;
  }
}

.mobile-menu__option {
  position: relative;
  width: 116px;
  height: 24px;
  left: 20px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.02em;

  color: #000000;
}

.mobile-menu-btn__icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  // .container {
  //   padding: 0;
  // }

  .logo {
    margin-right: 190px;
  }

  .menu {
    display: none;
  }

  .toggleWrapper {
    display: none;
  }

  .search-container {
    margin-top: 20px;
    margin-right: 40px;
  }

  .page-header {
    padding: 0;

    &__container {
      padding: 1px 32px;
    }
  }

  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 23px;
    line-height: 0;
  }
}

.mobile-menu {
  position: fixed;
  list-style-type: none;
  top: 50px;
  right: 1px;
  max-width: 768px;
  height: 938px;

  z-index: 99;
  overflow: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background: linear-gradient(to bottom, #ffffff 828px, #fd5103 110px);
  box-shadow: 4px 7px 10px rgba(105, 105, 105, 0.15);
  border-radius: 4px;

  &__close-btn {
    position: absolute;
    top: 4px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    margin-top: 22px;
  }

  &__container {
    // max-width: 768px;
    // height: 938px;
    margin: 0;
    padding: 20px;
  }
}

.mobile-menu__toggleWrapper {
  display: flex;
  align-items: center;
  gap: 55px;
  position: absolute;
  top: 5%;
  left: 42%;
  transform: translate3d(-50%, -50%, 0);

  input {
    position: absolute;
    left: -99em;
  }
}

.mobile-menu__toggle {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 40px;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  height: 16px;
  background-color: FFFFFF;
  z-index: 2;
  box-shadow: 4px 7px 10px rgba(105, 105, 105, 0.15);
  border: 1px solid #fd5103;
  border-radius: 20px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.mobile-menu-toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  background-color: #fd5103;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

input:checked {
  + .mobile-menu__toggle {
    &:after {
      color: #ffffff;
    }

    .mobile-menu-toggle__handler {
      transform: translate3d(10px, 0, 0) rotate(0);
    }
  }
}

@keyframes blink {
  85% {
    transform: rotateX(0deg);
  }
  90% {
    transform: rotateX(90deg);
  }
}

.mobile-menu-Dark {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.mobile-menu-Light {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: #fd5103;
}

.mobile-menu__search-container {
  display: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 114px;
  margin-left: 326px;
  margin-bottom: 40px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;

  letter-spacing: 0.02em;

  color: #000000;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 22px;
  line-height: 0;
}

.mobile-menu__option {
  position: relative;
  width: 116px;
  height: 24px;
  left: 320px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.02em;

  color: #000000;
}

.mobile-menu-btn__icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu__container {
    display: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }

  .logo {
    margin-right: 43px;
    padding: 0;
    margin-left: 0;
    line-height: 0;
  }

  .page-header {
    width: 100%;
    position: absolute;

    &__container {
      padding: 1px 16px;
    }
  }

  .menu {
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
    align-items: center;
    gap: 60px;
    padding-left: 0;
    list-style-type: none;

    &__link {
      text-decoration: none;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.02em;
      color: #202025;
      transition: var(--transition-dur-func);
    }
  }

  .menu-option {
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: 0.02em;
    color: #202025;
  }

  .search-container {
    margin-left: 251px;
    margin-top: 20px;
  }

  .toggleWrapper {
    display: flex;
    align-items: center;
    gap: 70px;
    position: absolute;
    top: 62%;
    left: 88%;
    transform: translate3d(-50%, -50%, 0);

    input {
      position: absolute;
      left: -99em;
    }
  }

  .toggle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 40px;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    background-color: FFFFFF;
    z-index: 2;
    box-shadow: 4px 7px 10px rgba(105, 105, 105, 0.15);
    border: 1px solid #fd5103;
    border-radius: 20px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 1px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fd5103;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
  }

  input:checked {
    + .toggle {
      &:after {
        color: #ffffff;
      }

      .toggle__handler {
        transform: translate3d(18px, 0, 0) rotate(0);
      }
    }
  }

  @keyframes blink {
    85% {
      transform: rotateX(0deg);
    }
    90% {
      transform: rotateX(90deg);
    }
  }
}
