@media screen and (min-width: 320px) {
    .favorite {
        // &__wrapper{

        // }

        &__title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 1.91;
            text-align: center;
            color: var(--text-color);
            margin-top: 60px;
            margin-bottom: 60px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        &__error {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 239px;
            margin-left: auto;
            margin-right: auto;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 3;
        
            text-align: center;
        }
    }
  }
  
  @media screen and (min-width: 768px) {
    .favorite {
            // &__wrapper {

            // }
    
            &__title {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 1.19;
                text-align: center;
                color: var(--text-color);
                margin-top: 60px;
                margin-bottom: 60px;
            }

            &__list {
                gap: 32px;
            }

            &__error {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 2.5;
            
                text-align: center;
            }
        }
  }
  
  @media screen and (min-width: 1280px) {
    .favorite {
            // &__wrapper {

            // }
    
            &__title {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 1.5;
                text-align: center;
                color: var(--text-color);
                margin-top: 60px;
                margin-bottom: 60px;
            }

            &__error {
                width: 385px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 2.25;
            
                text-align: center;
            }
        }
    
  }